@tailwind base;
@tailwind components;

/* Sticky footer */
#root {
    @apply flex;
    min-height: 100vh;
    flex-direction: column;
}

.g-MainContent {
    @apply flex-grow;
}

/* Footer */
.g-Footer {
    @apply flex;
    @apply p-4;
}
.g-Footer a {
    margin-left: auto;
}

h1 {
    @apply inline-flex;
    @apply text-5xl;
    @apply font-extrabold;
    @apply text-transparent;
    @apply bg-clip-text;
    @apply bg-gradient-to-r;
    @apply from-green-400;
    @apply to-blue-500;

    svg {
        @apply mr-4;
    }
}

/* Storage Info */
.c-StorageInfo {
    @apply flex;

    div {
        @apply flex-grow;
        div {
            @apply p-4;
            @apply bg-blue-200;
            @apply shadow;
        }
        &:nth-child(1) {
            @apply mr-2;
        }
        &:nth-child(1) {
            @apply mx-2;
        }
        &:nth-child(1) {
            @apply ml-2;
        }
    }
}

@tailwind utilities;
